body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: lightyellow;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    color: #7e1d1d;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.logo img {
    height: 100px; 
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.resume-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.nav-menu a:hover {
    border-bottom: 2px solid #fff; 
}

.nextNavButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px; 
    text-align: center;
    text-decoration: none;
    display: block; /* 
    margin: 0 auto; /* 
    font-size: 18px; /* 
    margin: 0 auto;
    cursor: pointer;
}


.nextNavButton:hover {
    background-color: #45a049;
}
